name = "MicroLogging"
uuid = "cecf6091-0e4e-54ba-8cba-f0e96a51f282"
version = "0.3.2"

[deps]
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
